<h1 class="header"><section class="primary_font">Number</section><seciton class="secondary_font">Guesser</seciton></h1>

<form action="/" method="get">
    <input type="text" name="input_guess" placeholder="Enter your guess" />
    <button type="submit">Guess</button>
    <button type="reset">Clear</button>
</form>

<h2 class="">Example: Your last guess was</h2>
<h3 class="guess_text">Example: 25</h3>
<h2 class="">Example: That is too high</h2>

<button type="button">Reset</button>

