<h1 class="header"><section class="primary-font">Number</section><seciton class="secondary-font">Guesser</seciton></h1>

<form action="/" method="get">
    <input type="text" name="user-input" id="user-guess" placeholder="Enter your guess" />
    <!-- <button type="submit" class="button" class="guess_button">Guess</button> -->
    <button type="button" class="js-guess-button" class="button">Guess</button>
    <!-- <button type="reset" class="button">Clear</button> -->
    <button type="button" class="js-clear-button" class="button">Clear</button>
</form>

<h2 class="first-line">Play Number Guesser</h2>
<h3 class="js-guess-text" class="guess-text">:0)</h3>
<h2 class="result-line">Type in your guess and click guess</h2>

<form action='/' method='get'>
  <button type="submit" class="js-reset-button" class="button">Reset</button>
</form>