<h1 class="header"><section class="primary_font">Number</section><seciton class="secondary_font">Guesser</seciton></h1>

<form action="/" method="get">
    <input type="text" name="" />
    <button type="submit">Guess</button>
    <button type="reset">Clear</button>
</form>

<button type="button">Reset</button>

