<h1 class="header"><section class="primary-font">Number</section><seciton class="secondary-font">Guesser</seciton></h1>

<form action="/" method="get">
    <input type="text" name="user-input" id="user-guess" placeholder="Enter your guess" />
    <!-- <button type="submit" class="button" class="guess_button">Guess</button> -->
    <button type="button" class="js-guess-button, button">Guess</button>
    <!-- <button type="reset" class="button">Clear</button> -->
    <button type="button" class="js-clear-button, button">Clear</button>
</form>

<h2 class="first-line">Example: Your last guess was</h2>
<h3 class="js-guess-text, guess-text">25</h3>
<h2 class="result-line">Example: That is too high</h2>

<form action='/' method='get'>
  <button type="button" class="js-reset-button, button">Reset</button>
</form>