.header {
  background-color: #404041;
  text-align: center;
}

.primary_font {
  color: #ED458B;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.secondary_font {
  color: #E6E7E8;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.guess {

}
